body {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
  }

/** HEADER **/
.navbar {
    border-radius: 0;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  
  }


.navbar-brand h1 { 
    font-family: 'Oxygen', sans-serif;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    padding-top: 25px;
}

.navbar button.navbar-toggler, .navbar .navbar-toggler-icon {
  border: 1px solid #ffffff;
  background-color: #222;
}

#navbarTogglerContent {
  font-size: 1.2em;
}
.list-color {
  background-color: rgb(236, 230, 221);
}

/** end header **/


#chicken {
  background-color: sandybrown;
}

#beef_ {
  background-color: darkcyan;
  
}

#sushi {
  background-color: palevioletred;

}

@media (min-width: 768px) {
  #navbarTogglerContent {
    display: none;
  }
 
}